BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

NamespaceIndentation: None

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements

IncludeBlocks: Regroup
SortIncludes: CaseSensitive

InsertNewlineAtEOF: true
