---
Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: file

CheckOptions:
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.LocalVariableCase: lower_case
  readability-identifier-naming.LocalConstantCase: lower_case
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.ConstantCase: UPPER_CASE
